.nodeWrapper {
    position: relative;
    width: 100%;
    min-height: 20px;
}

.inputHandleWrapper,
.outputHandleWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    white-space: nowrap;
    z-index: 1000;
}

.inputHandleWrapper {
    display: flex;
    align-items: center;

}

.outputHandleWrapper {
    display: flex;
    align-items: center;

}

.handleLabel {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    display: inline-block;
    position: relative;
    z-index: 1000;
}

.handle {
    width: 0.8rem !important;
    height: 0.8rem !important;
    background: #555 !important;
    position: relative;
    z-index: 1001 !important;
    top: auto;
    right: auto;
    transform: none;
}

.handle:hover {
    background-color: #777;
}