.nodeWrapper {
    position: relative;
    width: 100%;
    min-height: 50px;
    padding: 0 20px;
}

.inputHandleWrapper,
.outputHandleWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    white-space: nowrap;
    z-index: 1000;
    top: 50%;
    /* Center the handles vertically */
    transform: translateY(-50%);
    /* Adjust for centering */
}

.inputHandleWrapper {
    left: -8px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 12px;

}

.outputHandleWrapper {
    right: -8px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 12px;

}

.handleLabel {
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    display: inline-block;

    position: relative;
    z-index: 1000;
}

.handle {
    width: 10px !important;
    height: 10px !important;
    background: #555 !important;
    position: relative;
    z-index: 1001 !important;
}

.handle:hover {
    background-color: #777;
}